<script src = "https://code.highcharts.com/highcharts.js" > </script>
<script src = "https://code.highcharts.com/modules/series-label.js" > </script>
<script src = "https://code.highcharts.com/modules/exporting.js" > </script>
<h1>Price#index</h1>

  <%= button_to "Dólar", price_get_quote_last_seven_days_path, params: { currencies: ["BRL", "USD"]}, method: :get %>
  <%= button_to "Euro", price_get_quote_last_seven_days_path, params: { currencies: ["BRL", "EUR"]}, method: :get %>
  <%= button_to "Pesos argentinos", price_get_quote_last_seven_days_path, params: { currencies: ["BRL", "ARS"]}, method: :get %>
  <%= @quote_last_seven_days %>

  <%# <div id = "container" style = "height: 400px;" > </div> %>
    <%# javascript_pack_tag 'highcharts', 'data-turbolinks-track': 'reload' %>

  <%# </div> %>
  <%= raw @line_chart != nil ? @line_chart.div : "" %>
